h3{
    text-align: center;
    font-family: 'Abril Fatface', cursive;
}
.navbar-brand{
    color: white;
}
body .navbar{
    background-color:#2E4F4F;
} 
p{
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
}
.carousel-inner{
    width: 150%;
    height: 500px;
}